
<div> <%= @blog.title %> </div>
<% form_for @blog do |f| %>
  <div>
    <%= f.text_field :title, placeholder: f.title %>
  </div>
  <div>
    <%= f.text_field :content, placeholder: f.content %>
  </div>
  <%= f.submit %>
<% end %>
