<div class="container new-idea-container">
  <div class="row">
    <div class="idea-form col-sm-12">
      <h3> New Idea</h3>
      <%= form_for @blog do |f| %>
        <div>
          <%= f.text_field :title, placeholder: "Title" %>
        </div>
        <div>
          <%= f.text_area :content, size: "18x8", placeholder: "Write here!" %>
        </div>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>