<section class="cd-hero">
    <ul class="cd-hero-slider autoplay">

        <li class="selected first-slide">
            <div class="cd-full-width">
                <div class="tm-slide-content-div slide-caption">
                    <h2>Innovate</h2>
                    <strong><p>Where innovation meets group think</p></strong>
                    <div class="primary-button">
                        <%= link_to "Sign Up", "/new" %>
                    </div>
                </div>
            </div>
            <!-- .cd-full-width -->
        </li>

    </ul>
</section>

<div>
  Track and share your ideas! Collaborate with others to bring your ideas to life.
</div>

