<div class="jumbotron">
  <h1>Innovately</h1>
  <p>Bring your ideas to life</p>
  <p><a class="btn btn-primary btn-md" href="/new" role="button">Sign up</a></p>
</div>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="service-item first-service">
          <div class="icon"></div>
          <span class="glyphicon glyphicon-plus"></span>
          <h4>Track Ideas</h4>
          <p>Save your most innovative ideas to this "digital notebook", get a full spectrum of feedback from other thinkers and makers!</p>
      </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="service-item second-service">
          <div class="icon"></div>
          <span class="glyphicon glyphicon-ok"></span>
          <h4>Dream Big</h4>
          <p>Try and spice it up. Make a plan for pursuing your greatest ideas. Get help from other users and achieve your goals!</p>
      </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="service-item third-service">
          <div class="icon"></div>
          <span class="glyphicon glyphicon-search"></span>
          <h4>Browse Others</h4>
          <p>Don't have an idea, but want to see others? Scroll through the latest ideas, give feedback, and work with like-minded people.</p>
      </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="service-item fourth-service">
          <div class="icon"></div>
          <span class="glyphicon glyphicon-heart"></span>
          <h4>Collaberate</h4>
          <p>Love the idea and want in? Click on the collaberate button next to the post to contact the owner of the post.</p>
      </div>
  </div>
</div>
<div class="container hook">
  <div class="row">
    <div class="col-md-12">

      <p>Track and share your ideas! Collaborate with others to bring your ideas to life.</p>
    </div>
  </div>
</div>
<div id="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="fact-item">
                    <div class="counter" data-count="2">300</div>
                    <span>Regular Visitors</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="fact-item">
                    <div class="counter" data-count="0">459</div>
                    <span>Finished Projects</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="fact-item">
                    <div class="counter" data-count="0">2102</div>
                    <span>Great Ideas</span>
                </div>
            </div>
        </div>
    </div>
</div>
