<h2>Your profile</h2>
<div>
  Welcome, <%= @user.name %>!
</div>
<h3> Your blogs</h3>
<%= link_to "New Blogpost", "/blogs/new" %>
  <ul>
    <% @user.blogs().each do |blog|%>
      <li> <%= blog.title %></li>
    <% end %>
  </ul>
<div>


