<h3>Your profile</h3>
<div class="row">
  <div class="col-sm-4">
    <p> Hi, <%= current_user.name %>!</p>
  </div>
  <div class="col-sm-4">
    <p> You have logged <%= current_user.blogs().length %> ideas!</p>
  </div>
  <div class="col-sm-4">
    <%= link_to "New Idea", "/users/:id/blogs/new" %>
  </div>
</div>



